In [154]:
%pip install numpy scikit-learn pandas

Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (1.26.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (1.0.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: scipy>=1.1.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [155]:
import pandas as pd

In [156]:
data = pd.read_csv('s3://losterosundatathon2023/global_power_plant_database.csv')[['country','name','latitude','longitude','primary_fuel','capacity_mw']]

countries = ['ARG']#['ARG','URY','BRA']

/tmp/ipykernel_59/1091835850.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('s3://losterosundatathon2023/global_power_plant_database.csv')[['country','name','latitude','longitude','primary_fuel','capacity_mw']]

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       34936 non-null  object
 1   name          34936 non-null  object
 2   latitude      34936 non-null  float64
 3   longitude     34936 non-null  float64
 4   primary_fuel  34936 non-null  object
 5   capacity_mw   34936 non-null  float64
dtypes: float64(3), object(3)
memory usage: 1.6+ MB

In [158]:
data.head()

,country,name,latitude,longitude,primary_fuel,capacity_mw
0,AFG,Kajaki Hydroelectric Power Plant Afghanistan,32.322,65.1190,Hydro,33.0
1,AFG,Kandahar DOG,31.670,65.7950,Solar,10.0
2,AFG,Kandahar JOL,31.623,65.7920,Solar,10.0
3,AFG,Mahipar Hydroelectric Power Plant Afghanistan,34.556,69.4787,Hydro,66.0
4,AFG,Naghlu Dam Hydroelectric Power Plant Afghanistan,34.641,69.7170,Hydro,100.0

In [159]:
wind_plants = data.loc[(data['country'].isin(countries)) & (data['primary_fuel']=='Wind')]
wind_plants.to_csv("s3://losterosundatathon2023/wind_plants.csv")
wind_plants.head()

,country,name,latitude,longitude,primary_fuel,capacity_mw
139,ARG,COMODORO RIVADAVIA - ANTONIO MORAN,-45.8467,-67.4964,Wind,16.56
238,ARG,GENERAL ACHA,-37.4309,-64.7160,Wind,1.80
264,ARG,MAYOR BURATOVICH,-39.2291,-62.6497,Wind,2.02
278,ARG,PARQUE EOLICO ARAUCO SAPEM I,-28.6684,-66.7524,Wind,25.20
279,ARG,PARQUE EOLICO ARAUCO SAPEM II,-28.6684,-66.7524,Wind,25.20

In [160]:
solar_plants = data.loc[(data['country'].isin(countries)) & (data['primary_fuel']=='Solar')]
solar_plants.to_csv("s3://losterosundatathon2023/solar_plants.csv")
solar_plants.head()

    country                name  latitude  longitude primary_fuel  capacity_mw
135     ARG          CHIMBERA 1  -31.9881   -68.5402        Solar          2.0
218     ARG            Cafayate  -26.0400   -65.9300        Solar         80.0
219     ARG  Caldenes del Oeste  -33.6100   -65.4450        Solar         30.0
220     ARG            Cauchari  -23.8000   -66.8000        Solar        300.0
248     ARG   Iglesia-Guañizuil  -30.3400   -69.2700        Solar         80.0

In [161]:
hydro_plants = data.loc[(data['country'].isin(countries)) & (data['primary_fuel']=='Hydro')]
hydro_plants.to_csv("s3://losterosundatathon2023/hydro_plants.csv")
hydro_plants.head()

    country              name  latitude  longitude primary_fuel  capacity_mw
94      ARG     AGUA DEL TORO  -34.5792   -68.9892        Hydro        130.0
95      ARG           ALICURA  -40.5800   -70.7489        Hydro       1050.0
99      ARG  ALVAREZ CONDARCO  -33.0452   -69.0516        Hydro         50.7
100     ARG          ARROYITO  -39.1009   -68.5982        Hydro        128.0
105     ARG   BENJAMIN REOLIN  -32.1883   -64.3233        Hydro         38.4

In [162]:
nuclear_plants = data.loc[(data['country'].isin(countries)) & (data['primary_fuel']=='Nuclear')]
nuclear_plants.to_csv("s3://losterosundatathon2023/nuclear_plants.csv")
nuclear_plants.head()

    country       name  latitude  longitude primary_fuel  capacity_mw
101     ARG   ATUCHA I  -33.9670   -59.2059      Nuclear        370.0
102     ARG  ATUCHA II  -33.9674   -59.2045      Nuclear        745.0
229     ARG    EMBALSE  -32.2316   -64.4422      Nuclear        648.0

In [163]:
oil_plants = data.loc[(data['country'].isin(countries)) & (data['primary_fuel']=='Oil')]
oil_plants.to_csv("s3://losterosundatathon2023/oil_plants.csv")
oil_plants.head()

,country,name,latitude,longitude,primary_fuel,capacity_mw
96,ARG,ALMIRANTE BROWN,-34.8386,-58.4033,Oil,25.000
98,ARG,ALUMINE,-39.2145,-70.9157,Oil,1.904
103,ARG,BANDERA,-23.8219,-64.7847,Oil,31.000
104,ARG,BARILOCHE (PUERTO MORENO),-41.1167,-71.4167,Oil,5.736
106,ARG,BERNARDO DE IRIGOYEN,-26.2545,-53.6469,Oil,2.096

In [164]:
gas_plants = data.loc[(data['country'].isin(countries)) & (data['primary_fuel']=='Gas')]
gas_plants.to_csv("s3://losterosundatathon2023/gas_plants.csv")
gas_plants.head()

,country,name,latitude,longitude,primary_fuel,capacity_mw
93,ARG,AGUA DEL CAJON (GENERADOR DEL MEM),-38.9368,-68.3556,Gas,192.00
97,ARG,ALTO VALLE,-38.9524,-68.0218,Gas,97.50
120,ARG,CENTRAL LOMA DE LA LATA SA,-38.5127,-68.6048,Gas,540.00
122,ARG,CENTRAL T.GENELBA,-34.9027,-58.7334,Gas,673.60
123,ARG,CENTRAL T.GENELBA PLUS,-34.9027,-58.7334,Gas,164.55

In [165]:
coal_plants = data.loc[(data['country'].isin(countries)) & (data['primary_fuel']=='Coal')]
coal_plants.to_csv("s3://losterosundatathon2023/coal_plants.csv")
coal_plants.head()

,country,name,latitude,longitude,primary_fuel,capacity_mw
119,ARG,CENTRAL BAHIA BLANCA (PIEDRA BUENA) SA,-38.7872,-62.2536,Coal,620.0
126,ARG,CENTRAL TERMICA GÜEMES SA,-24.6894,-65.0425,Coal,361.0
141,ARG,COSTANERA,-34.6260,-58.3393,Coal,1982.2
164,ARG,CT ECOENERGIA (PETROBRAS),-38.6871,-62.3961,Coal,13.2
268,ARG,NECOCHEA,-38.5785,-58.7108,Coal,206.0

In [166]:
arg_power = pd.read_csv('s3://losterosundatathon2023/ARG_power.csv')
arg_power = arg_power.loc[(arg_power['ARG_power-density_100m'] >= 300) & (arg_power['ARG_power-density_100m'] <= 2000)]
arg_power.to_csv("s3://losterosundatathon2023/arg_power_300.csv")
arg_power.count()

x                         98755
y                         98755
ARG_power-density_100m    98755
dtype: int64

In [167]:
wind_plants.groupby(['country'])['name'].count()

country
ARG    12
Name: name, dtype: int64

In [168]:
solar_plants.groupby(['country'])['name'].count()

country
ARG    7
Name: name, dtype: int64

In [169]:
hydro_plants.groupby(['country'])['name'].count()

country
ARG    50
Name: name, dtype: int64

In [170]:
data[data['country'].isin(countries)].groupby(['primary_fuel'])['primary_fuel'].count()

primary_fuel
Coal        9
Gas        57
Hydro      50
Nuclear     3
Oil        96
Other       2
Solar       7
Wind       12
Name: primary_fuel, dtype: int64